header {
  -webkit-box-shadow: 0 14px 30px -33px black;
          box-shadow: 0 14px 30px -33px black; }
  header .navbar-slogan {
    font-size: .6rem; }
  header .titleSite {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.mh-100 {
  min-height: calc( 100vh - 86.75px); }

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

/* .error-all,
.error-username,
.error-userlog,
#btnLogout{
} */
#btnLogout {
  display: none;
  /* position: absolute;
  right: 16px; */ }

.btnAnimation {
  border-color: gray;
  background-image: linear-gradient(45deg, gray 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out; }
  .btnAnimation:hover {
    color: #fff;
    background-position: 0; }

.btn-outline-danger.btnAnimation {
  border-color: initial;
  background-image: linear-gradient(45deg, red 50%, transparent 50%); }

.btn-outline-success.btnAnimation {
  border-color: initial;
  background-image: linear-gradient(45deg, #4bbf73 50%, transparent 50%); }

.loginBox {
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-position: center center; }
  .loginBox--error {
    display: none; }

.chatBox {
  display: none; }
  .chatBox--item {
    -webkit-box-shadow: 0 25px 40px -31px #053661;
            box-shadow: 0 25px 40px -31px #053661;
    border-color: #053661; }
    .chatBox--item h5 {
      margin: 0; }
    .chatBox--item-body {
      min-height: 500px;
      max-height: 500px;
      text-align: left;
      overflow-y: scroll; }
      .chatBox--item-body p.text-muted {
        font-style: italic;
        margin-bottom: 2px; }
        .chatBox--item-body p.text-muted .badge {
          margin-left: 2px; }
      .chatBox--item-body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #053661;
        background-color: #F5F5F5;
        border-radius: 10px;
        margin: 5px 0; }
      .chatBox--item-body::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5; }
      .chatBox--item-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #053661;
        margin: 5px 0; }
    .chatBox--item-msn {
      color: black;
      border: 2px solid #888888;
      height: auto; }
    .chatBox--item .card-header h5 {
      color: white; }
    .chatBox--item .card-header, .chatBox--item .card-footer {
      background-color: #053661; }
  .chatBox--users-body > .badge {
    padding: 0.35em 0.8em;
    margin-right: 0.5em; }
    .chatBox--users-body > .badge:last-child {
      margin-right: 0em; }

/*# sourceMappingURL=main.css.map */