.chatBox{
    display: none;
    &--item{
        box-shadow: 0 25px 40px -31px #053661;
        border-color: #053661;
        h5{
            margin: 0;
        }
        &-body{
            min-height: 500px;
            max-height: 500px;
            text-align: left;
            overflow-y: scroll;
            p.text-muted{
                font-style: italic;
                margin-bottom: 2px;
                .badge{
                    margin-left: 2px;
                }
            }
            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px #053661;
                background-color: #F5F5F5;
                border-radius: 10px;
                margin: 5px 0;
            }
            &::-webkit-scrollbar
            {
                width: 6px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                background-color: #053661;
                margin: 5px 0;
            }
        }
        &-msn{
            color: black;
            border: 2px solid #888888;
            height: auto;
        }
        .card{
            &-header h5{
                color: white;
            }
        }
        .card-header, .card-footer{
            background-color: #053661;
        }
    }
    &--users-body{
        & > .badge{
            padding: 0.35em 0.8em;
            margin-right: 0.5em;
            &:last-child{
                margin-right: 0em;
            }
        }
    }
}