header{
    box-shadow: 0 14px 30px -33px black;
    .navbar-slogan{
        font-size: .6rem;
    }
    .titleSite{
        flex-grow: 1;
    }
}

.mh-100{
    min-height: calc( 100vh - 86.75px);
}
.form-control:focus{
    box-shadow: none;
}
/* .error-all,
.error-username,
.error-userlog,
#btnLogout{
} */

#btnLogout{
    display: none;
    /* position: absolute;
    right: 16px; */
}

.btnAnimation {
    border-color: gray;
    background: {
        image: linear-gradient(45deg, gray 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }
    transition: background 300ms ease-in-out;
    
    &:hover {
        color: #fff;
      background-position: 0;
    }
  }
.btn-outline-danger.btnAnimation{
    border-color: initial;
    background-image: linear-gradient(45deg, red 50%, transparent 50%);
}

.btn-outline-success.btnAnimation{
    border-color: initial;
    background-image: linear-gradient(45deg, #4bbf73 50%, transparent 50%);
}